.nav a.white-text:hover {
	color: #e0e0e0 !important;
}

#backgroundImage {
	background-image:
		url('/Kuvar/img/cakeBack.jpg');
	background-repeat: repeat-x;
	background-repeat: no-repeat; 
	background-size: contain; 
	background-position: center;
	width: 100%;
}

/* div.transbox { */
/* 	margin: 30px; */
/* 	height: 80%; */
/* 	background-color: #ffffff; */
/* 	opacity: 0.7; */
/* 	filter: alpha(opacity = 60); For IE8 and earlier */
/* } */

div.box {
	margin: 2px;
	height: 20%;
	background-color: #ffffff;
}

div.transbox p {
	margin: 5%;
	font-weight: bold;
	color: #000000;
}

.card {
	margin-top: 5%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

/* div.enterCategory { */
/* 	margin-top: 20%; */
/* 	width: 30%; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
	
/* } */

div.boxNumOfRecipes {
    margin-top: 5%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	color: #000000;
}

#addRecipe {
	margin-top: 5px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(to top, #ffffcc 0%, #ccffcc 99%);
}


/* PROFILE */
body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 20px 80px;
    z-index: 9;
    width: 20%; 
}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.menu_title {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    margin: 0 5px;
}


@media (max-width:768px){
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}

.containerProfile {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%;
	margin-bottom: 50%;
}

.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
position: relative;
overflow-y: scroll; }

.card.chat-room .members-panel-1 {
height: 570px; }

.card.chat-room .chat-1 {
height: 495px; }

.card.chat-room .friend-list li {
border-bottom: 1px solid #e0e0e0; }
.card.chat-room .friend-list li:last-of-type {
border-bottom: none; }

/* .scrollbar-light-blue::-webkit-scrollbar-track { */
/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
/* background-color: #F5F5F5; */
/* border-radius: 10px; } */

/* .scrollbar-light-blue::-webkit-scrollbar { */
/* width: 12px; */
/* background-color: #F5F5F5; } */

/* .scrollbar-light-blue::-webkit-scrollbar-thumb { */
/* border-radius: 10px; */
/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
/* background-color: #82B1FF; } */

.rare-wind-gradient {
background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }

